.tasks-title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #102660;
}


.tasks-title-wrapper h1 {
    font-size: 24px;
    background: linear-gradient(to right, #F4BC93, #FFE7D6);
    padding: 10px 80px;
    border-radius: 10px;
    text-align: center;
}