.desktop-title .group {
    height: 79px;
    position: absolute;
    width: 465px;
    color: rgba(16, 38, 96, 0.85);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.group .overlap-group-2 {
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.group .text-wrapper-5 {
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
}
