.teams-page-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #102660;
}

.teams-page-header h1 {
    font-size: 32px;
    background: linear-gradient(to right, #F4BC93, #FFE7D6);
    padding: 15px 100px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}