.team-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #F9F9F9;
}

.team-page-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #102660;
}

.team-page-header h1 {
    font-size: 32px;
    background: linear-gradient(to right, #F4BC93, #FFE7D6);
    padding: 15px 100px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navigation-buttons button {
    background-color: #1e3a8a;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation-buttons button:hover {
    background-color: #314B8E;
    transform: scale(1.05);
}

.team-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow-x: auto;
}

.team-table {
    width: 90%;
    border-collapse: collapse;
    background-color: #FFD5B6;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    table-layout: fixed;
    overflow: hidden;
}

.team-table th, .team-table td {
    border: 1px solid #fff;
    padding: 15px;
    text-align: center;
    height: 60px;
}

.team-table th {
    background-color: #314B8E;
    color: #ffffff;
    font-weight: bold;
}

.weekend {
    background-color: #D38E60 !important;
}

.team-table th:nth-child(1),
.team-table td:nth-child(1) {
    width: 200px;
    text-align: left;
}

.team-table th:nth-child(1),
.team-table td:nth-child(1) {
    width: 110px;
    text-align: left;
}

.team-table th:nth-child(2),
.team-table td:nth-child(2) {
    width: 210px;
    text-align: left;
}

.team-table th:nth-child(3),
.team-table td:nth-child(3) {
    width: 220px;
    text-align: left;
}

.team-table th:nth-child(4),
.team-table td:nth-child(4) {
    width: 100px;
}

.status-icon {
    font-size: 24px;
    border-radius: 50%;
    padding: 5px;
}

.status-icon.active {
    color: #ffffff;
    background-color: #5E83C2;
}

.status-icon.inactive {
    color: #ffffff;
    background-color: #FF0000FF;
}

.team-table .today {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

.team-table th.today {
    border-top: 2px solid red;
}

.team-table tr:last-child td.today {
    border-bottom: 2px solid red;
}

.absence-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background: #f3f4f6;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    text-align: left; /* Ensure text is left-aligned */
}

.absence-details span {
    flex-grow: 1;
    margin-right: 10px; /* Add space between text and edit icon */
}

.edit-icon {
    cursor: pointer;
    color: #007bff;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.edit-icon:hover {
    color: #0056b3;
}

td button {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFA500;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

td button:hover {
    background-color: #FF8C00;
}

input[type="date"] {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    transition: border-color 0.3s ease;
}

input[type="date"]:focus {
    border-color: #007bff;
}

button.save-button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.save-button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .team-table-container {
        width: 100%;
        padding: 0 10px;
    }

    .team-table {
        min-width: 1200px;
    }
}

.team-page-footer {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-page-footer button {
    background-color: #1e3a8a;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.team-page-footer button:hover {
    background-color: #314B8E;
    transform: scale(1.05);
}

.user-select {
    width: 200px;
    margin: 10px;
}

.user-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.user-popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.user-popup-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.popup-buttons button:hover {
    background-color: #ddd;
}
