.desktop-title {
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.desktop-myteam {
    margin: auto;
    width: 513px;
    margin-top: 10px;

}

.desktop-teams {
    width: 927px;
    margin-left: auto;
    margin-top: 10px;
}