.custom-button {
    background: linear-gradient(180deg, rgba(255, 231.01, 213.64, 0.69) 43%, rgb(244.25, 187.63, 146.63) 71.5%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration-color: black;
}

.custom-button:hover {
    background-color: #45a049;
}
